<div class="container">
    <h1>Oops!</h1>
    <p>The error occured:</p>
    <p>{{error}}</p>
    {{#if reasons}}
        <hr>
        <h2>Possible reasons:</h2>
        <ul>
        {{#each reasons}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
</div>